# Swagger Editor Next: https://editor-next.swagger.io/
# OpenAPI Map: https://openapi-map.apihandyman.io/
# Open Lark: https://open.feishu.cn/document
openapi: 3.0.0
info:
  title: 飞书开放能力
  version: 0.0.1
  description: |-
    收集飞书开放平台上的API能力, 并转换成OpenAPI的格式,
    方便转换成各种编程语言对应的SDK使用
  contact:
    email: 824219521@qq.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
tags:
  - name: 多维表格
    description: '**`46 API`**'
    externalDocs:
      url: >-
        https://open.larkoffice.com/document/server-docs/docs/bitable-v1/bitable-overview
      description: API概述
externalDocs:
  description: 开发文档 - 飞书开放平台
  url: https://open.feishu.cn/document
servers:
  - url: https://open.feishu.cn/open-apis
    description: 飞书官方地址
paths:
  /bitable/v1/apps:
    post:
      tags:
        - 多维表格
      summary: 在指定文件夹中创建一个多维表格, 包含一个空白的数据表。
      description: |-
        - 接口频率限制: **20次/分钟**
        - 支持的应用类型: **自建应用**/**商店应用**
        - 权限要求(开启任一权限即可):
          - 创建多维表格
          - 查看、评论、编辑和管理多维表格
      externalDocs:
        url: >-
          https://open.larkoffice.com/document/server-docs/docs/bitable-v1/app/create
      operationId: createBitTable
      security:
        - http_bearer: []
      requestBody:
        $ref: '#/components/requestBodies/createBitTable'
      responses:
        '200':
          $ref: '#/components/responses/createBitTableSuccess'
  /bitable/v1/apps/{app_token}:
    get:
      tags:
        - 多维表格
      summary: 获取指定多维表格的元数据信息，包括多维表格名称、多维表格版本号、多维表格是否开启高级权限等。
      description: |-
        - 接口频率限制: **20次/分钟**
        - 支持的应用类型: **自建应用**/**商店应用**
        - 权限要求(开启任一权限即可):
          - 获取多维表格信息
          - 查看、评论、编辑和管理多维表格
          - 查看、评论和导出多维表格
      externalDocs:
        url: https://open.feishu.cn/document/server-docs/docs/bitable-v1/app/get
      operationId: getBitTableMetaData
      security:
        - http_bearer: []
      parameters:
        - name: app_token
          description: 多维表格 App 的唯一标识
          in: path
          required: true
          schema:
            type: string
            example: appbcbWCzen6D8dezhoCH2RpMAh
      responses:
        '200':
          $ref: '#/components/responses/createBitTableSuccess'
components:
  securitySchemes:
    http_bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |-
        应用调用 API 时, 需要通过访问凭证(access_token)进行身份鉴权, 不同类型的访问凭证可获取的数据范围不同
        ["Bearer <access_token>"]  
  requestBodies:
    createBitTable:
      description: 请求体
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createBitTable'
  responses:
    createBitTableSuccess:
      description: 请求成功
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                description: 错误码，非 0 表示失败
              msg:
                type: string
                description: 错误描述
              data:
                type: object
  schemas:
    createBitTable:
      type: object
      properties:
        name:
          type: string
          description: 多维表格 App 名称。最长为 255 个字符。
          example: 一篇新的多维表格
        folder_token:
          type: string
          description: >-
            多维表格 App 归属文件夹。默认为空，表示多维表格将被创建在云空间根目录。请确保调用身份拥有在该文件夹中的编辑权限。


            了解如何获取文件夹 Token。参考[如何获取云文档资源相关
            Token](https://open.feishu.cn/document/ukTMukTMukTM/uczNzUjL3czM14yN3MTN#08bb5df6)。


            若应用使用的是 tenant_access_token
            权限，此处仅可指定应用创建的文件夹。详情参考[如何为应用开通云文档相关资源的权限](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-add-permissions-to-app)。
          example:
            - fldcnqquW1svRIYVT2Np6Iabcef
        time_zone:
          $ref: '#/components/schemas/timeZone'
    timeZone:
      type: string
      example: Asia/Shanghai
      enum:
        - Africa/Abidjan
        - Africa/Algiers
        - Africa/Bissau
        - Africa/Cairo
        - Africa/Casablanca
        - Africa/Ceuta
        - Africa/El_Aaiun
        - Africa/Johannesburg
        - Africa/Juba
        - Africa/Khartoum
        - Africa/Lagos
        - Africa/Maputo
        - Africa/Monrovia
        - Africa/Nairobi
        - Africa/Ndjamena
        - Africa/Sao_Tome
        - Africa/Tripoli
        - Africa/Tunis
        - Africa/Windhoek
        - America/Adak
        - America/Anchorage
        - America/Araguaina
        - America/Argentina/Buenos_Aires
        - America/Argentina/Catamarca
        - America/Argentina/Cordoba
        - America/Argentina/Jujuy
        - America/Argentina/La_Rioja
        - America/Argentina/Mendoza
        - America/Argentina/Rio_Gallegos
        - America/Argentina/Salta
        - America/Argentina/San_Juan
        - America/Argentina/San_Luis
        - America/Argentina/Tucuman
        - America/Argentina/Ushuaia
        - America/Asuncion
        - America/Bahia
        - America/Bahia_Banderas
        - America/Barbados
        - America/Belem
        - America/Belize
        - America/Boa_Vista
        - America/Bogota
        - America/Boise
        - America/Cambridge_Bay
        - America/Campo_Grande
        - America/Cancun
        - America/Caracas
        - America/Cayenne
        - America/Chicago
        - America/Chihuahua
        - America/Ciudad_Juarez
        - America/Costa_Rica
        - America/Cuiaba
        - America/Danmarkshavn
        - America/Dawson
        - America/Dawson_Creek
        - America/Denver
        - America/Detroit
        - America/Edmonton
        - America/Eirunepe
        - America/El_Salvador
        - America/Fort_Nelson
        - America/Fortaleza
        - America/Glace_Bay
        - America/Goose_Bay
        - America/Grand_Turk
        - America/Guatemala
        - America/Guayaquil
        - America/Guyana
        - America/Halifax
        - America/Havana
        - America/Hermosillo
        - America/Indiana/Indianapolis
        - America/Indiana/Knox
        - America/Indiana/Marengo
        - America/Indiana/Petersburg
        - America/Indiana/Tell_City
        - America/Indiana/Vevay
        - America/Indiana/Vincennes
        - America/Indiana/Winamac
        - America/Inuvik
        - America/Iqaluit
        - America/Jamaica
        - America/Juneau
        - America/Kentucky/Louisville
        - America/Kentucky/Monticello
        - America/La_Paz
        - America/Lima
        - America/Los_Angeles
        - America/Maceio
        - America/Managua
        - America/Manaus
        - America/Martinique
        - America/Matamoros
        - America/Mazatlan
        - America/Menominee
        - America/Merida
        - America/Metlakatla
        - America/Mexico_City
        - America/Miquelon
        - America/Moncton
        - America/Monterrey
        - America/Montevideo
        - America/New_York
        - America/Nome
        - America/Noronha
        - America/North_Dakota/Beulah
        - America/North_Dakota/Center
        - America/North_Dakota/New_Salem
        - America/Nuuk
        - America/Ojinaga
        - America/Panama
        - America/Paramaribo
        - America/Phoenix
        - America/Port-au-Prince
        - America/Porto_Velho
        - America/Puerto_Rico
        - America/Punta_Arenas
        - America/Rankin_Inlet
        - America/Recife
        - America/Regina
        - America/Resolute
        - America/Rio_Branco
        - America/Santarem
        - America/Santiago
        - America/Santo_Domingo
        - America/Sao_Paulo
        - America/Scoresbysund
        - America/Sitka
        - America/St_Johns
        - America/Swift_Current
        - America/Tegucigalpa
        - America/Thule
        - America/Tijuana
        - America/Toronto
        - America/Vancouver
        - America/Whitehorse
        - America/Winnipeg
        - America/Yakutat
        - Antarctica/Casey
        - Antarctica/Davis
        - Antarctica/Macquarie
        - Antarctica/Mawson
        - Antarctica/Palmer
        - Antarctica/Rothera
        - Antarctica/Troll
        - Asia/Almaty
        - Asia/Amman
        - Asia/Anadyr
        - Asia/Aqtau
        - Asia/Aqtobe
        - Asia/Ashgabat
        - Asia/Atyrau
        - Asia/Baghdad
        - Asia/Baku
        - Asia/Bangkok
        - Asia/Barnaul
        - Asia/Beirut
        - Asia/Bishkek
        - Asia/Chita
        - Asia/Choibalsan
        - Asia/Colombo
        - Asia/Damascus
        - Asia/Dhaka
        - Asia/Dili
        - Asia/Dubai
        - Asia/Dushanbe
        - Asia/Famagusta
        - Asia/Gaza
        - Asia/Hebron
        - Asia/Ho_Chi_Minh
        - Asia/Hong_Kong
        - Asia/Hovd
        - Asia/Irkutsk
        - Asia/Jakarta
        - Asia/Jayapura
        - Asia/Jerusalem
        - Asia/Kabul
        - Asia/Kamchatka
        - Asia/Karachi
        - Asia/Kathmandu
        - Asia/Khandyga
        - Asia/Kolkata
        - Asia/Krasnoyarsk
        - Asia/Kuching
        - Asia/Macau
        - Asia/Magadan
        - Asia/Makassar
        - Asia/Manila
        - Asia/Nicosia
        - Asia/Novokuznetsk
        - Asia/Novosibirsk
        - Asia/Omsk
        - Asia/Oral
        - Asia/Pontianak
        - Asia/Pyongyang
        - Asia/Qatar
        - Asia/Qostanay
        - Asia/Qyzylorda
        - Asia/Riyadh
        - Asia/Sakhalin
        - Asia/Samarkand
        - Asia/Seoul
        - Asia/Shanghai
        - Asia/Singapore
        - Asia/Srednekolymsk
        - Asia/Taipei
        - Asia/Tashkent
        - Asia/Tbilisi
        - Asia/Tehran
        - Asia/Thimphu
        - Asia/Tokyo
        - Asia/Tomsk
        - Asia/Ulaanbaatar
        - Asia/Urumqi
        - Asia/Ust-Nera
        - Asia/Vladivostok
        - Asia/Yakutsk
        - Asia/Yangon
        - Asia/Yekaterinburg
        - Asia/Yerevan
        - Atlantic/Azores
        - Atlantic/Bermuda
        - Atlantic/Canary
        - Atlantic/Cape_Verde
        - Atlantic/Faroe
        - Atlantic/Madeira
        - Atlantic/South_Georgia
        - Atlantic/Stanley
        - Australia/Adelaide
        - Australia/Brisbane
        - Australia/Broken_Hill
        - Australia/Darwin
        - Australia/Eucla
        - Australia/Hobart
        - Australia/Lindeman
        - Australia/Lord_Howe
        - Australia/Melbourne
        - Australia/Perth
        - Australia/Sydney
        - CET
        - CST6CDT
        - EET
        - EST
        - EST5EDT
        - Etc/GMT
        - Etc/GMT-1
        - Etc/GMT-10
        - Etc/GMT-11
        - Etc/GMT-12
        - Etc/GMT-13
        - Etc/GMT-14
        - Etc/GMT-2
        - Etc/GMT-3
        - Etc/GMT-4
        - Etc/GMT-5
        - Etc/GMT-6
        - Etc/GMT-7
        - Etc/GMT-8
        - Etc/GMT-9
        - Etc/GMT+1
        - Etc/GMT+10
        - Etc/GMT+11
        - Etc/GMT+12
        - Etc/GMT+2
        - Etc/GMT+3
        - Etc/GMT+4
        - Etc/GMT+5
        - Etc/GMT+6
        - Etc/GMT+7
        - Etc/GMT+8
        - Etc/GMT+9
        - Etc/UTC
        - Europe/Andorra
        - Europe/Astrakhan
        - Europe/Athens
        - Europe/Belgrade
        - Europe/Berlin
        - Europe/Brussels
        - Europe/Bucharest
        - Europe/Budapest
        - Europe/Chisinau
        - Europe/Dublin
        - Europe/Gibraltar
        - Europe/Helsinki
        - Europe/Istanbul
        - Europe/Kaliningrad
        - Europe/Kirov
        - Europe/Kyiv
        - Europe/Lisbon
        - Europe/London
        - Europe/Madrid
        - Europe/Malta
        - Europe/Minsk
        - Europe/Moscow
        - Europe/Paris
        - Europe/Prague
        - Europe/Riga
        - Europe/Rome
        - Europe/Samara
        - Europe/Saratov
        - Europe/Simferopol
        - Europe/Sofia
        - Europe/Tallinn
        - Europe/Tirane
        - Europe/Ulyanovsk
        - Europe/Vienna
        - Europe/Vilnius
        - Europe/Volgograd
        - Europe/Warsaw
        - Europe/Zurich
        - HST
        - Indian/Chagos
        - Indian/Maldives
        - Indian/Mauritius
        - MET
        - MST
        - MST7MDT
        - Pacific/Apia
        - Pacific/Auckland
        - Pacific/Bougainville
        - Pacific/Chatham
        - Pacific/Easter
        - Pacific/Efate
        - Pacific/Fakaofo
        - Pacific/Fiji
        - Pacific/Galapagos
        - Pacific/Gambier
        - Pacific/Guadalcanal
        - Pacific/Guam
        - Pacific/Honolulu
        - Pacific/Kanton
        - Pacific/Kiritimati
        - Pacific/Kosrae
        - Pacific/Kwajalein
        - Pacific/Marquesas
        - Pacific/Nauru
        - Pacific/Niue
        - Pacific/Norfolk
        - Pacific/Noumea
        - Pacific/Pago_Pago
        - Pacific/Palau
        - Pacific/Pitcairn
        - Pacific/Port_Moresby
        - Pacific/Rarotonga
        - Pacific/Tahiti
        - Pacific/Tarawa
        - Pacific/Tongatapu
        - PST8PDT
        - WET
      description: >-
        文档时区, 详情参考:
        [文档时区介绍](https://bytedance.larkoffice.com/docx/YKRndTM7VoyDqpxqqeEcd67MnEf)
